@font-face {
  font-family: EditorialNew-Light;
  src: url("fonts/EditorialNew-Light.otf");
}

@font-face {
  font-family: LiberationSerif;
  src: url("fonts/LiberationSerif-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
}

.websiteContainer {
  width: 100%;
  max-width: 500px;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.coverContainer {
  font-family: EditorialNew-Light;
  display: flex;
  text-align: center;
  width: 100%;
  height: 100vh;
  align-items: center;
  font-size: 16px;

}

#coverTopText {
  position: absolute;
  top: 24px;
  text-align: center;
  width: 100%;
  max-width: 500px;
  line-height: 52px;
}

.coverCenterTextContainer {
  text-align: center;
  width: 100%;
  max-width: 500px;
}

#coverCenterText {
  width: 120px;
  border: 1px solid black;
  padding-top: 12px;
  padding-bottom: 10px;
  border-radius: 120px / 44px;



}

#coverBottomText {
  position: absolute;
  bottom: 36px;
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.bodyContainer {
  width: 92%;
  padding-top: 48px;
  padding-bottom: 48px;
  transition: opacity 0.1s;
}

.collapsible {
  font-family: EditorialNew-Light;
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 14px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
  box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-top: 1px solid black;
}

.active, .collapsible:hover {
  background-color: white;
}

.collapsible:after {
  content: '\002B';
  color: black;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.contentContainer {
  padding-bottom: 20px;
}

.content {
  line-height: 22px;
  padding: 0 14px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: white;
  text-align: left;
}

@media screen and (max-width: 500px) {

  .websiteContainer {
    border-left: 0px solid black;
    border-right: 0px solid black;
  }

  .coverContainer {
    height: 90vh;

  }

}
